*.h5
*.pyc
*.stdout
.vscode/**
*settings.json
.vscode/settings.json
**.tfrecord
code/tables/eval-results-full.tex
code/tables/eval-results-mean.tex
code/tables/hyper-1-full.tex
code/tables/hyper-1-mean.tex
code/tables/hyper-2-full.tex
code/tables/hyper-2-mean.tex
code/tables/men-women-split.tex
code/tables/scaled-results-full.tex
code/tables/scaled-results-mean.tex
code/tables/test-results-da.tex
code/tables/test-results-first.tex
code/tables/test-results-full.tex
code/tables/test-results-mean.tex
code/notes.md
code/tables/data-augmentaion-results-mean.tex
.gitignore
code/tables/counts-max.png
code/tables/counts.png
code/tables/data-augmentaion-results-full.tex
code/tables/depth-results-full.tex
code/tables/depth-results-mean.tex
